* {
    margin: 0;
    padding: 0;
}

.header-hero-box {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header Style */
.header-box {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.header-links:hover a {
    color: #1f2937;
    background-color: white;
}

/* Hero Style */
.hero-box {
    display: flex;
    justify-content: space-evenly;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    width: 500px;
    height: 300px;
    border: 1px solid red;
}

/* Random Style */
.random-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-header-box {
    padding: 20px;
}

.random-img-box {
    display: flex;
    flex-wrap: wrap;
}